@font-face {
  font-family: Ageya-Oblique;
  src: url("./fontFiles/Ageya-Oblique.otf") format("truetype");
}

@font-face {
  font-family: VanguardCF-Bold;
  src: url("./fontFiles/VanguardCF-Bold.otf") format("truetype");
}

@font-face {
  font-family: VanguardCF-ExtraBold;
  src: url("./fontFiles/VanguardCF-ExtraBold.otf") format("truetype");
}

@font-face {
  font-family: VanguardCF-Regular;
  src: url("./fontFiles/VanguardCF-Regular.otf") format("truetype");
}

@font-face {
  font-family: VanguardCF-Medium;
  src: url("./fontFiles/VanguardCF-Medium.otf") format("truetype");
}

@font-face {
  font-family: VisbyCF-DemiBold;
  src: url("./fontFiles/VisbyCF-DemiBold.otf") format("truetype");
}
