<div class="wrapper">
  <app-header></app-header>

  <section class="banner">
    <div class="text">
      <h6>LOOK AHEAD</h6>
      <h1>THE<span> future</span></h1>
      <h1>HAS ARRIVED.</h1>
      <div class="text-bottom">
        <app-animated-button
          [btnText]="'play showreel'"
          [iconSrc]="'../../assets/img/icon-right-long-arrow-white.svg'"
        ></app-animated-button>
        <h6>A FULL-SERVICES CREATIVE STUDIO.</h6>
      </div>
    </div>
    <img class="jelly" src="../../assets/img/jelly@2x.png" alt="" />
  </section>
</div>
