<footer>
  <div class="footer-wrapper">
    <div class="col-1">
      <h5>FOLLOW US</h5>
      <div class="social">
        <img src="../../../assets/img/contact-img/instagram.svg" alt="" />
        <img src="../../../assets/img/contact-img/behance.svg" alt="" />
        <img src="../../../assets/img/contact-img/linkedin.svg" alt="" />
      </div>
      <small>All work copyright of JUSTDESIGN FX 2021</small>
    </div>
    <div class="col-2">
      <h5>JOIN THE TEAM</h5>
      <p style="padding-bottom: 0.75rem">
        Send us your CV, we are always looking for new talent.
      </p>
      <button><p class="btn-text">CAREER</p></button>
    </div>
    <div class="col-3">
      <h5>CONTACT US</h5>
      <a>info@justdesignfx.com</a>
      <p>Balkan Cad. No:62, JUSTWork Office Campus</p>
      <p style="padding-bottom: 0.75rem">34770, ISTANBUL/TURKEY</p>
      <app-animated-button
        [btnText]="'get direction'"
        [iconSrc]="'../../assets/img/icon-right-long-arrow-white.svg'"
      ></app-animated-button>
    </div>
  </div>
</footer>
